In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
df_zones.to_sql(con=engine, name='taxi_zones', if_exists='replace')

265

In [6]:
df_taxi = pd.read_csv('green_tripdata_2019-09.csv')

df_taxi['lpep_pickup_datetime'] = pd.to_datetime(df_taxi['lpep_pickup_datetime'])
df_taxi['lpep_dropoff_datetime'] = pd.to_datetime(df_taxi['lpep_dropoff_datetime'])

C:\Users\Artyom\AppData\Local\Temp\ipykernel_34148\111531893.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_taxi = pd.read_csv('green_tripdata_2019-09.csv')

In [7]:
df_taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  449063 non-null  datetime64[ns]
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: datetime64[ns](2), float64(15), int64(2), object(1)
memory usage: 68.5+ MB

In [8]:
df_taxi.to_sql(con=engine, name='green_ny_taxi', if_exists='replace')

63

In [5]:
df_zones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [54]:



astoria_pickups_df = df_taxi[pickup_filter]

merged_df = astoria_pickups_df.merge(df_zones, left_on='DOLocationID', right_on='LocationID', how='inner')

largest_tip_dropoff_zone = merged_df.loc[merged_df['tip_amount'].idxmax()]['Zone']

print(largest_tip_dropoff_zone)

Bushwick South

In [8]:
merged_df = df_taxi.merge(df_zones, left_on='PULocationID', right_on='LocationID', how='inner')

In [58]:
# Assuming df_taxi contains your taxi data and taxi_zones contains zone data
# Make sure both DataFrames are loaded before running this code

# Convert pickup and drop-off datetime columns to datetime type
df_taxi['lpep_pickup_datetime'] = pd.to_datetime(df_taxi['lpep_pickup_datetime'])
df_taxi['lpep_dropoff_datetime'] = pd.to_datetime(df_taxi['lpep_dropoff_datetime'])

# Filter for pickups in September 2019 and drop-offs in Astoria
filtered_df = df_taxi[(df_taxi['lpep_pickup_datetime'].dt.month == 9) & (df_taxi['lpep_pickup_datetime'].dt.year == 2019) &
                      (df_taxi['DOLocationID'] == 'Astoria')]

# Group by drop-off zone and calculate the sum of tips for each zone
tip_by_zone = filtered_df.groupby('DOLocationID')['tip_amount'].sum().reset_index()

In [59]:
tip_by_zone

Empty DataFrame
Columns: [DOLocationID, tip_amount]
Index: []